body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

body.aus {
  background-color: #242526;
}

#switch {
  width: 3rem;
  height: 3rem;
  border: none;
  top: 3%;
  right: 3%;
  position: absolute;
  background: url("./hurray.svg") center no-repeat;
}

h1 {
  opacity: 0;
  font-size: 27vw;
  margin: 0;
  line-height: 1;
  padding: 0;
  display: inline-block;
}

.olga {
  position: relative;
  backface-visibility: hidden;
  perspective: 500px;
  /* margin: 2vw 0; */
  display: inline-block;
}

.olga-slices {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.o, .l, .g, .a {
  width: 25%;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.slice {
  position: absolute;
  transition: transform 0.2s ease-in-out;
  border-radius: 0.5rem;
  background: black;
  width: 6.3%;
  padding-top: 4.5%;
  box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 1);
  cursor: pointer;
}

.slice:hover {
  z-index: 1;
  transform: scale(1.2);
  background: url("./hurray.svg") center no-repeat;
}

.slice-1 {
  left: 7%;
  top: 17%;
}

.slice-2 {
  left: 13%;
  top: 17%;
}

.slice-3 {
  left: 3%;
  top: 30%;
}

.slice-4 {
  left: 17%;
  top: 30%;
}

.slice-5 {
  left: 1%;
  top: 43%;
}

.slice-6 {
  left: 19%;
  top: 43%;
}

.slice-7 {
  left: 3%;
  top: 56%;
}

.slice-8 {
  left: 17%;
  top: 56%;
}

.slice-9 {
  left: 7%;
  top: 69%;
}

.slice-10 {
  left: 13%;
  top: 69%;
}

.slice-11 {
  left: 29%;
  top: 17%;
}

.slice-12 {
  left: 29%;
  top: 30%;
}

.slice-13 {
  left: 29%;
  top: 43%;
}

.slice-14 {
  left: 29%;
  top: 56%;
}

.slice-15 {
  left: 29%;
  top: 69%;
}

.slice-16 {
  left: 35%;
  top: 69%;
}

.slice-17 {
  left: 41%;
  top: 69%;
}

.slice-18 {
  left: 64%;
  top: 17%;
}

.slice-19 {
  left: 58%;
  top: 17%;
}

.slice-20 {
  left: 52%;
  top: 25%;
}

.slice-21 {
  left: 51%;
  top: 38%;
}

.slice-22 {
  left: 51%;
  top: 51%;
}

.slice-23 {
  left: 53%;
  top: 63%;
}

.slice-24 {
  left: 58%;
  top: 69%;
}

.slice-25 {
  left: 64%;
  top: 69%;
}

.slice-26 {
  left: 68%;
  top: 56%;
}

.slice-27 {
  left: 68%;
  top: 43%;
}

.slice-28 {
  left: 62%;
  top: 43%;
}

.slice-29.color-range {
  left: 84%;
  top: 58%;
  width: 8%;
  padding-top: 0;
}

.slice-29:hover {
  transform: unset;
}

.slice-30 {
  left: 85%;
  top: 17%;
}

.slice-31 {
  left: 81%;
  top: 30%;
}

.slice-32 {
  left: 89%;
  top: 30%;
}

.slice-33 {
  left: 78%;
  top: 43%;
}

.slice-34 {
  left: 92%;
  top: 43%;
}

.slice-35 {
  left: 77%;
  top: 56%;
}

.slice-36 {
  left: 93%;
  top: 56%;
}

.slice-37 {
  left: 77%;
  top: 69%;
}

.slice-38 {
  left: 93%;
  top: 69%;
}

@media screen and (max-width: 760px) {
  body {
    margin-top: 40%;
  }

  .olga h1 {
    font-size: 30vw;
  }

  .slice {
    border-radius: 0.125rem;
  }

  .player {
    width: 95%;
    margin-top: 12%;
  }

  .toggle-play {
    width: 13% !important;
  }

  #title {
    margin-top: 22% !important;
    font-size: medium !important;
  }

}