body {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

body.aus {
  background-color: #242526;
}

#switch {
  width: 50px;
  height: 50px;
  border: none;
  top: 3%;
  right: 3%;
  position: absolute;

  background: url("./hurray.svg") center no-repeat;
}

#olga {
  margin-top: 3%;
  min-height: 400px;
}

.slice {
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  background: black;
}

.slice:hover {
  z-index: 1;
  transform: scale(1.2);
}

.slice-1 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 43px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.slice-2 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 86px);
}

.slice-3 {
  width: 85px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 272px);
}

.slice-4 {
  width: 88px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px calc(((100% - 1140px) / 2) + 320px) 0 auto;
}

.slice-5 {
  width: 86px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px calc(((100% - 1140px) / 2) + 409px) 0 auto;
}

.slice-6 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -53px);
}

.slice-7 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 135px);
}

.slice-8 {
  width: 85px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 272px);
}

.slice-9 {
  width: 87px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -84px calc(((100% - 1140px) / 2) + 494px) 0 auto;
}

.slice-10 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + -78px);
}

.slice-11 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 162px);
}

.slice-12 {
  width: 85px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 272px);
}

.slice-13 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 1px auto 0 calc(((100% - 1140px) / 2) + -53px);
}

.slice-14 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 135px);
}

.slice-15 {
  width: 85px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 272px);
}

.slice-16 {
  width: 88px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -146px calc(((100% - 1140px) / 2) + 515px) 0 auto;
}

.slice-17 {
  width: 88px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + 515px) 0 auto;
}

.slice-18 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.slice-19 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 86px);
}

.slice-20 {
  width: 85px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 272px);
}

.slice-21 {
  width: 85px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 357px);
}

.slice-22 {
  width: 87px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 442px);
}

.slice-23 {
  width: 86px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px calc(((100% - 1140px) / 2) + 316px) 0 auto;
}

.slice-24 {
  width: 87px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -84px calc(((100% - 1140px) / 2) + 494px) 0 auto;
}

.slice-25 {
  width: 88px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -42px calc(((100% - 1140px) / 2) + 405px) 0 auto;
}

.slice-26 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -126px calc(((100% - 1140px) / 2) + 258px) 0 auto;
}

.slice-27 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -126px calc(((100% - 1140px) / 2) + 258px) 0 auto;
}

.slice-28 {
  width: 86px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -63px calc(((100% - 1140px) / 2) + 347px) 0 auto;
}

.slice-29 {
  width: 100px;
  height: 23px;
  margin: 0 calc(((100% - 1140px) / 2) + 32px) 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slice-30 {
  width: 89px;
  height: 63px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -252px calc(((100% - 1140px) / 2) + 36px) 0 auto;
}

.slice-31 {
  width: 88px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + 96px) 0 auto;
}

.slice-32 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + 132px) 0 auto;
}

.slice-33 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + 151px) 0 auto;
}

.slice-34 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + 151px) 0 auto;
}

.slice-35 {
  width: 88px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -252px calc(((100% - 1140px) / 2) + -29px) 0 auto;
}

.slice-36 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + -65px) 0 auto;
}

.slice-37 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + -79px) 0 auto;
}

.slice-38 {
  width: 89px;
  height: 63px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 calc(((100% - 1140px) / 2) + -79px) 42px auto;
}

